<div class="row">
  <div class="col-md-6">
    <div id="canvas">
      <%= image_tag show_picture_label_path(@label), id: 'base_image' %>
      <% @label.stamps.each do |stamp| %>
        <%= stamp_image_tag(stamp) %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <% (1..6).each do |ix| %>
      <%= image_tag "stamps/heart_#{ix}.png", width: 100, height: 100, image_id: "heart_#{ix}.png", class: 'stamp' %>
    <% end %>
  </div>
</div>

<%= form_for(@label) do |f| %>
  <%= hidden_field_tag :stamp_json, @label.stamps.map{|s| s.to_hash }.to_json %>
  <%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>