<div class="container-fluid">
  <%= link_to '新しいラベルを作る', {action: :new}, class: 'btn btn-primary' %>

  <br><br>

  <table class="table">
    <tr>
      <th>ファイル名</th>
      <th></th>
    </tr>
    <% @labels.each do |label| %>
      <tr>
        <td><%= link_to label.original_filename, {action: :edit, id: label.id} %></td>
        <td class="text-right">
          <%= link_to '画像ダウンロード', {action: :download, id: label.id}, class: 'btn btn-default' %>
          <%= link_to '削除', {action: :destroy, id: label.id}, method: :delete, class: 'btn btn-danger', data: { confirm: '削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
