<%= form_for(@label, url: {action: :upload}) do |f| %>
  <%= error_messages(@label) %>
  <div class="form-group">
    <%= f.label :data %>
    <%= f.file_field :data, class: 'form-control' %>
  </div>
  <%= f.submit '送信', class: 'btn btn-primary' %>
<% end %>

