body {
  margin: 10px;
  padding-top: 70px;
}

#canvas {
  border: 2px #2E2F30 dashed;
  width: 600px;
  height: 600px;
  position: relative;
  #base_image {
    max-width: 100%;
    max-height: 100%;
  }

  .stamp_border {
    border: dotted #666666 1px;
  }

}