<!DOCTYPE html>
<html>
<head>
  <title>Geeoka</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'ワインラベルメーカー', labels_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>

<%= yield %>

</body>
<%= javascript_include_tag 'application' %>
</html>
